/* Load Google Font */
@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');

/* Diagnostic */
* {
  outline: 1px solid peachpuff;
}

body {
  background-color: #e5e5f7;
  background-image:  linear-gradient(#da71ca70 2px, transparent 2px), linear-gradient(90deg, #da71ca70 2px, transparent 2px), linear-gradient(#da71ca 1px, transparent 1px), linear-gradient(90deg, #da71ca 1px, #e5e5f7 1px);
background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

article div {
  background: white;
  padding: 1em;
}

/* Style Tile with css variables */
:root {
  --color1: pink;
  --font1: "Elsie", serif;
}

/* wrapper */

h1 {
  font-family: "Elsie", serif;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  color: #da71ca;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: var(--font1);
}

article {
  /*  background image */
  /* background-image: url(background-color: #e5e5f7;
opacity: 0.8;
background-image:  linear-gradient(#da9ed0 2px, transparent 2px), linear-gradient(90deg, #da9ed0 2px, transparent 2px), linear-gradient(#da9ed0 1px, transparent 1px), linear-gradient(90deg, #da9ed0 1px, #e5e5f7 1px);
background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; */
}

/* on hover left colum, no background image */
article:hover {
  background-image: none;
}
p{
  font-family: "Ysabeau Office", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: light;
}

h1, p {
  animation-name: fadeInUpBig;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

p {
  animation-delay: 3s;
}


/* Article */
article {
  display: flex;
  flex-direction: column;
  /* main axis   */
  justify-content: center;
  /* cross axis   */
  align-items: center;
  
  padding: 1em;
}


/* aside image */
aside img { 
  width: 100%;
  max-width: 100%;

  /* full height     */
  height: 100vh;
  object-fit: cover;
}

/* Drop Cap */
p span {
  float: left; 
  font-size: 5em;
  color: var(--color1);
}


@media (max-width: 480px ) {
  
  body {
    background: goldenrod;
  }
  
  main {
      grid-template-columns: 1fr;
  }
  
  article nav a {
  
    display: block;
    margin: 1em 0 1em 0;
  }
  
  p span {
    float: none;
    font-size: 1.5em;
    
  }
  
}